<div id="<%= dom_id book %>">
  <p>
    <%= t("item.title.html") %>
    <%= book.title %>
  </p>

  <p>
    <%= t("item.memo.html") %>
    <%= book.memo %>
  </p>

  <p>
    <%= t("item.author.html") %>
    <%= book.author %>
  </p>

  <p>
    <%= t("item.picture.html") %>
    <%= image_tag(book.picture_url) if book.picture.present? %>
  </p>

</div>
