<p style="color: green"><%= notice %></p>

<%= t("title.index.html") %>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t("button.navigation.detail"), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t("button.navigation.new"), new_book_path %>
</nav>
