<p style="color: green"><%= notice %></p>

<h1><%= t :index_page_title %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('to_detail_page'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('to_new_page'), new_book_path %>
