<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('to_edit_page'), edit_book_path(@book) %> |
  <%= link_to t('to_index_page'), books_path %>

  <%= button_to t('destory') , @book, method: :delete %>
</nav>
