<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('to_edit_page'), edit_book_path(@book) %> |
  <%= link_to t('to_index_page'), books_path %>

  <%= button_to t('destory') , @book, method: :delete %>
</div>
